/*
    Document   : style.css
    Created on : Jun 30, 2012, 11:32:45 AM
    Author     : mihata
    Description:
        Purpose of the stylesheet follows.
*/
@import 'reset.css';

/*basic*/

.invisible {
    display: none;
}
#main-wrapper,
.wrapper {
    width: 1024px;
    margin: 0 auto;
    clear: both;
    height: 100%;
    overflow: hidden;
}
.wrapper {padding: 10px 0;}
#header {
    height: 100px;
    border-bottom: 1px dashed #e2e2e2;
}
#footer {border-top: 1px dashed #e2e2e2;}

.form-wrapper {
    float: left;
    overflow: hidden;
    width: 100%;
}
.row {
    width: 1000px;
    float: left;
    clear: both;
    margin: 5px;
}
.label {
    width: 400px;
    text-align: right;
    float: left;
}
.field {
    margin: 0 0 0 20px;
    float: left;
}

#message-box {
    border: 1px dotted #E2E2E2;
    box-shadow: 5px 5px 10px #888;
    width: 640px;
    height: 480px;
    margin: 20px auto;
    overflow-x: hidden;
    overflow-y: auto;

}
.message {
    width: 600px;
    margin: 5px 20px;
    border-bottom: 1px solid #ccc;
    float: left;
    word-wrap: breal-word;
    line-height: 25px;
}
.author {
    font-weight: bolder;
    font-size: 115%;
}
#load-last-messages {
    margin: 5px 20px;
    float: left;
}
#message-label {
    width: 165px;
    text-align: right;
    float: left;
}
#message {
    width: 540px;
}
#send {
    width: 80px;
    height: 70px;
}
#userfile {
    margin: 0 0 0 185px;
}